/* General Styles */
:root{
    --main-black: #373A40;
    --grey: #686D76;
    --white: #EEEEEE;
    --orange: #DC5F00;
    --darker-orange: #b64f01;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body, html {
    background-color: var(--main-black);
    color: var(--white);
    width: 100dvw;
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}
ul li{
    list-style: none;

}
ul li a{
    color: var(--white);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
ul li a:hover{
   color: var(--darker-orange);
}
section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-snap-align: start;
    padding: 50px;
}
/* main */
main{
    max-width: 1680px;
    width: 70%;
    margin: auto;
}
/* Nav css */
header{
    position: fixed;
    width: 100%;
    margin: 1em 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--main-black);
    margin: auto;
    width: 65%;
    padding: 8px 15px;
    border-radius: 5rem;

}
nav ul{
    display: flex;
    gap: 25px;
}
nav .logo{
    color: var(--orange);
    font-weight: bold;
    font-size: 1.5rem;
}
/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;

    text-align: left;
}
.hero .content h1 span{font-size: 5rem;}
.hero .content p{font-size: 1.2rem; line-height: 2rem;}
.content {
    max-width: 50%;
}

.content h1 span {
    color: var(--orange);
    font-size: 32px;
    font-weight: bold;
}

.content p {
    margin: 20px 0;
    line-height: 1.6;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    background: var(--orange);
    color: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.social-links button{
    margin: 8px 0;
    background-color: var(--main-black);
    border-radius: 5rem;
    font-size: 1.5rem;
}
.social-links button:hover{
    color: var(--darker-orange);
    background-color: var(--main-black);
}
.social-link-line{
    width: 3px;
    height: 120px;
    background-color: var(--darker-orange);
    text-align: center;
    margin-left: 28px;
    margin-bottom: 2rem;
}
button{
    border: none;
    cursor: pointer;
}
.btn:hover {
    background: var(--darker-orange);
}

/* Profile Image */
.profile-image img {
    width: 120%;
    border-radius: 10px;
}
/* Sections */
.skills, .projects, .contact {
    background: #2b3436;
}

.footer {
    background: #1a1f21;
    padding: 20px;
    text-align: center;
}

/* Responsive */
@media (max-width: 968px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        min-height: 60vh;
    }
    .social-links{
        display: none;
    }
    .hero .content h1 span{font-size: 3rem;}
    .hero .content p{font-size: 1rem; line-height: 1.3rem;}
    .content {
        max-width: 100%;
    }
    .buttons {
        justify-content: center;
    }
    .profile-image img {
        margin-top: 20px;
        width: 400px;
    }
}
